<div class="container spacer">
  <div class="panel panel-primary" *ngIf="mode==1">
    <div class="panel-heading">Update Task</div>
    <div class="panel-body" *ngIf="task">
      <div *ngIf="mode==1">
        <div class="form-group">
          <label class="control-label">Name:</label>
          <input class="form-control" type="text" [(ngModel)]="task.name">
        </div>
        <div class="form-group">
          <label class="control-label">Description:</label>
          <input class="form-control" type="text" [(ngModel)]="task.description">
        </div>
        <div class="form-group">
          <label class="control-label">State:</label>
          <input class="form-control" type="text" [(ngModel)]="task.state">
        </div>
        <button class="btn btn-primary" (click)="updateTask()" >Update</button>
      </div>
      <div>

      </div>
    </div>
  </div>

  <div class="panel panel-primary" *ngIf="mode==2">
    <div class="panel-heading">Confirmation</div>
    <div class="panel-body">
      <div >
        <div class="form-group">
          <label class="control-label">Name:</label>
          <label>{{task.name}}</label>
        </div>
        <div class="form-group">
          <label class="control-label">Description:</label>
          <label>{{task.description}}</label>
        </div>
        <div class="form-group">
          <label class="control-label">State:</label>
          <label>{{task.state}}</label>
        </div>
        <button class="btn btn-primary" (click)="mode=1" >Nouveau Contact</button>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>


