<div class="container">
  <button  class="btn btn-success" (click)="onNewTask()">New Task</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td><td>Task Name</td><td>Description</td><td>State</td>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of tasks">
      <td>{{t.id}}</td>
      <td>{{t.name}}</td>
      <td>{{t.description}}</td>
      <td>{{t.state}}</td>
      <td>
        <a (click)="onEditTask(t.id)" class="clickable">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
